{{> head }}
{{> header }}
<main>

    <div class="container">
        <h1>{{ title }}</h1>

        <ul class="section table-of-contents">
            {{#each headings }}
                <li><a href="#{{ id }}">{{{ifEqual tag 'h3' '&emsp;' }}}# {{ text }}</a></li>
            {{/each}}
        </ul>

        <div class="contents">{{{ contents }}}</div>
    </div>
</main>

{{> footer }}