{{> head }}

{{> header }}

<main>

    <div class="container">
        <h1>{{ title }}</h1>
        <div class="contents">{{{ contents }}}</div>
    </div>

    <div class="container">
        {{#each collections.guide }}
            <h3><a href="/{{ path }}">{{ title }}</a></h3>
            <p>{{description}}</p>
        {{/each}}
    </div>
</main>

{{> footer }}