{{> head }}
{{> header }}
<main>
    <div class="container">
        <h1>{{ title }}</h1>

        <ul class="section table-of-contents">
            {{#each headings }}
                <li><a href="#{{ id }}">{{{ifEqual tag 'h3' '&emsp;' }}}# {{ text }}</a></li>
            {{/each}}
        </ul>

        {{#if pendingTask}}
            <div class="card grey darken-3">

                <div class="card-content white-text">
                <span class="card-title">
                    <i class="material-icons">schedule</i> This feature is pending
                </span>
                    <p>This page serves as a placeholder and draft of a planned feature.</p>
                </div>

                {{#ifEqual pendingTask true}}{{else}}
                    <div class="card-action">
                        <a href="{{pendingTask}}" target="_blank">See Github issue</a>
                    </div>
                {{/ifEqual}}
            </div>

        {{/if}}
        <div class="contents">{{{ contents }}}</div>
    </div>
</main>

{{> footer }}